{% for block in section.blocks %}
{% if block.settings.product-des-one != blank %}
<div>
 <div class="grid-x">
    <div class="cell small-12">
      <img class="top-border" src="{{ 'border-thin-red.svg' | asset_url }}">
    </div>
  </div>
  <section class="blurb-container">
    <div class="grid-x ">
      <div class="cell small-12 blurb-bullet">
        
          <div class="grid-container">
            <ul>
              <div class="grid-x align-center">
                <div class="small-12 medium-4 cell">
                
                  <li>
                      <div class="grid-x align-center">
                        <div class="small-4 medium-3 large-4 cell text-center mobile-blurb-icon">{{ 'white-no-sugar.svg' | asset_url | img_tag }}</div>
                        
                          <h3 class="small-4 medium-9 large-8 cell mobile-blurb-h4 blurb-h4 h4">{{ block.settings.product-des-one }}</h3>
                       
                      </div>
                  </li>
                
                 <li>
                      <div class="grid-x align-center">
                      <div class="small-4 medium-3 large-4 cell text-center mobile-blurb-icon">{{ 'white-flex-arm.svg' | asset_url | img_tag }}</div>
                        <h3 class="small-4 medium-9 large-8  cell mobile-blurb-h4 blurb-h4 h4">{{ block.settings.product-des-two }}</h3>
                      </div>
                  </li>

                </div>
                <div class="small-12 medium-4  cell">
                <li>
                      <div class="grid-x align-center">
                      <div class="small-4 medium-3 large-4 cell text-center mobile-blurb-icon">{{ 'white-gluten-free.svg' | asset_url | img_tag }}</div>
                        <h3 class="small-4 medium-9 large-8  cell mobile-blurb-h4 blurb-h4 h4">{{ block.settings.product-des-three }}</h3>
                      </div>
                  </li>
                  <li>
                      <div class="grid-x align-center">
                      <div class="small-4 medium-3 large-4 cell text-center mobile-blurb-icon">{{ 'white-steak.svg' | asset_url | img_tag }}</div>
                        <h3 class="small-4 medium-9 large-8  cell mobile-blurb-h4 blurb-h4 h4">{{ block.settings.product-des-four }}</h3>
                      </div>
                  </li>
                </div>
                <div class="small-12 medium-4 cell">
                  <li>
                      <div class="grid-x align-center">
                      <div class="small-4 medium-3 large-4 cell text-center mobile-blurb-icon">{{ 'white-air-dried.svg' | asset_url | img_tag }}</div>
                        <h3 class="small-4 medium-9 large-8  cell mobile-blurb-h4 blurb-h4 h4">{{ block.settings.product-des-five }}</h3>
                      </div>
                  </li>
                  <li>
                      <div class="grid-x align-center">
                      <div class="small-4 medium-3 large-4 cell text-center mobile-blurb-icon">{{ 'white-check-mark.svg' | asset_url | img_tag }}</div>
                        <h3 class="small-4 medium-9 large-8 cell mobile-blurb-h4 blurb-h4 h4">{{ block.settings.product-des-six }}</h3>
                      </div>
                  </li> 
                </div>
              </div>
            </ul>
          </div>
        
      </div>
    </div>
  </section>
  <div class="grid-x">
    <div class="cell small-12">
      <img class="bottom-border" src="{{ 'border-thin-red.svg' | asset_url }}">
    </div>
  </div>
</div>
{% endif %}
{% endfor %}