<div class="reveal" id="signup" data-reveal>

  			{% form 'customer' %}
		      {{ form.errors | default_errors }}
		      {% if form.posted_successfully? %}
				    <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
		      {% else %}
				<form>
				  <div class="grid-x grid-padding-x">
				  	<div class="small-12 cell">
				  		<input type="hidden" name="contact[tags]" value="newsletter">
				  	</div>
				    <div class="small-12 medium-8 cell">
				        <input type="email" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" autocorrect="off" autocapitalize="off" placeholder="Email">
				    </div>
				    <div class="small-12 medium-4 cell">
				        <button type="submit" class="secondary button" name="commit" id="Subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
				    </div>
				  </div>
				</form>
				{% endif %}
    		{% endform %}

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<button class="button secondary" data-open="signup">Subscribe Now</button>



