<div class="grid-container mobile-search-align">
  <div class="grid-x">
    <div class="cell small-12 medium-4 search-grid-item">
      <img src="{{ product.featured_image.src | img_url: '150x150', scale: 2 }}" alt="{{ product.featured_image.alt | escape }}">
    </div>
    <div class="cell small-12 medium-8">
      <div>{{ product.title }}</div>
      <div>{{ product.vendor }}</div>
        {{ product.price | money }}
        {% unless product.available %}
          <div>{{ 'products.product.sold_out' | t }}</div>
        {% endunless %}
    </div>
  </div>
</div>