{% paginate blog.articles by 12 %}
<section itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
  <div class="grid-container blog-hero">
    <div class="grid-x align-center text-center blog-content-container">
      <div class="cell small-12 blog-page-text">
        <div class="grid-x align-center">
          <div class="cell small-10">
            {% if section.settings.blogh1 != blank %}
              <h1 itemprop="name">{{ section.settings.blogh1| escape }}</h1>
            {% endif %}

            {% if section.settings.blogblurb != blank %}
              <h2 class="h2 lead">{{ section.settings.blogblurb | escape }}</h2>
            {% endif %} 
          </div>
        </div>    
        <div class="grid-x align-center">
          <div class="cell small-10 medium-6" itemprop="description">
            {% if section.settings.blogblurbtwo != blank %}
              <p>{{ section.settings.blogblurbtwo | escape }}</p>
            {% endif %} 
          </div>
        </div>
        <div class="grid-x align-center recipe-btn">
          <div class="cell small-12">
            <div class="reveal" id="signup" data-reveal>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="//ayoba-yo.us11.list-manage.com/subscribe/post?u=53127de0b6e30249d9bc29f9f&amp;id=fb3467f07c" data-abide novalidate method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div data-abide-error class="alert callout" style="display: none;">
                  <p><i class="fi-alert"></i> There are some errors in your form.</p>
                </div>
                  <div id="mc_embed_signup_scroll">
                <h2>Subscribe to our mailing list</h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
              </label>
                <input required pattern="email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                <span class="form-error">
                  Please enter your email
                </span>
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name</label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name</label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
              </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_53127de0b6e30249d9bc29f9f_fb3467f07c" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button primary"></div>
                  </div>
              </form>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <button class="button primary" data-open="signup">Blog Signup</button>
          <!-- This is the nested modal -->
          <div class="reveal" id="blog-subscribe" data-reveal>
            <p class="lead">Thanks for Subscribing!</p>
            <p>Please be sure to check your email for verification.</p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="grid-x">
    <div class="cell small-12">
      <img class="top-border shadow-border-top" src="{{ 'border-thin-white.svg' | asset_url }}" itemprop="{{}}">
    </div>
  </div>
  <div class="blog-wrapper">

  <div class="grid-x align-center blog-filter">
    <div class="cell small-10">
      {% if blog.tags.size > 0 %}
        <select id="BlogTagFilter">
          <option value="/blogs/{{ blog.handle }}">{{ 'blogs.article.all_topics' | t }}</option>
          {% for tag in blog.all_tags %}
            <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
          {% endfor %}
        </select>
      {% endif %}
    </div>
  </div>
      

    <div class="grid-x grid-padding-x text-center align-center">
    {% for article in blog.articles %}
      <div class="cell small-12 medium-6 large-4">
        <div class="card-article-hover card">
          {% if article.image %}
            <a href="{{ article.url }}">
              {{ article | img_url: '345x', scale: 2 | img_tag: article.title }}
            </a>
          {% endif %}
          <div class="card-section">
            <a href="">
               <h2 class="article-title h4">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h2>
            </a>
            {% if section.settings.blog_show_date %}
                <span>
                  {{ article.published_at | time_tag: format: 'month_day_year' }}
                </span>
              {% endif %}
            <p class="article-desc">
              {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                {% else %}
                  {{ article.content | strip_html | truncate: 150 }}
                {% endif %}
            </p>
            {% if article.tags.size > 0 %}
                <div>
                  {% for tag in article.tags %}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
                  {% endfor %}
                </div>
              {% endif %}
              <ul>
                <li>
                  <a href="{{ article.url }}" class="button secondary">
                    {{ 'blogs.article.read_more' | t }}
                  </a>
                </li>

                {% if blog.comments_enabled? and article.comments_count > 0 %}
                  <li>
                    <a href="{{ article.url }}#comments" class="button secondary">
                      {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                    </a>
                  </li>
                {% endif %}
              </ul>
          </div>
          <div class="card-divider flex-container align-middle">
            {% if section.settings.blog_show_author %}
                <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
              {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>


    

{% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

</section>
<div class="grid-x">
  <div class="cell small-12">
    <img class="bottom-border shadow-border-bottom" src="{{ 'border-thin-white.svg' | asset_url }}" itemprop="{{}}">
  </div>
</div>






<section>
  <div class="grid-container text-center blog-cta-wrap">
    <div class="grid-x align-center">
      <div class="small-8 medium-12 cell">
        {% if section.settings.cta-blog-h3 != blank %}
          <h3>{{ section.settings.cta-blog-h3 | escape }}</h3>
        {% endif %}
        {% if section.settings.cta-blog-p != blank %}
              <p>{{ section.settings.cta-blog-p | escape }}</p>
          {% endif %}
      </div>
    </div>
    <div class="grid-x align-center">
      <div class="cell small-6">

          <div class="reveal" id="signup" data-reveal>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="//ayoba-yo.us11.list-manage.com/subscribe/post?u=53127de0b6e30249d9bc29f9f&amp;id=fb3467f07c" data-abide novalidate method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div data-abide-error class="alert callout" style="display: none;">
                  <p><i class="fi-alert"></i> There are some errors in your form.</p>
                </div>
                  <div id="mc_embed_signup_scroll">
                <h2>Subscribe to our mailing list</h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
              </label>
                <input required pattern="email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                <span class="form-error">
                  Please enter your email
                </span>
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name</label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name</label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
              </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_53127de0b6e30249d9bc29f9f_fb3467f07c" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button primary"></div>
                  </div>
              </form>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <button class="button primary" data-open="signup">Blog Signup</button>
          <!-- This is the nested modal -->
          <div class="reveal" id="blog-subscribe" data-reveal>
            <p class="lead">Thanks for Subscribing!</p>
            <p>Please be sure to check your email for verification.</p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      </div>

      

    </div>
  </div>


</section>
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "text",
        "id": "blogh1",
        "label": "blogh1",
        "default": "h1"
      },
      {
        "type": "text",
        "id": "blogblurb",
        "label": "blogblurb",
        "default": "description"
      },
      {
        "type": "text",
        "id": "blogblurbtwo",
        "label": "blogblurbtwo",
        "default": "description"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "list",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "text",
        "id": "cta-blog-h3",
        "label": "h3"
      },
      {
        "type": "text",
        "id": "cta-blog-p",
        "label": "p"
      }
    ]


  }
{% endschema %}
