<section class="product-hero-height">
  <div class="product-hero-container">
  <div class="grid-container">
    <div class="grid-x align-center product-all-head">
      <div class="cell small-12 {% if section.settings.all-products-h2-align == 'right' %}text-right{% elsif section.settings.all-products-h2-align == 'center' %}text-center{% elsif section.settings.all-products-h2-align == 'left' %}text-left{% endif %}">
        {% if section.settings.all-products-h2 != blank %}
          <h2 class="h1">{{ section.settings.all-products-h2 | escape }}</h2>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="grid-x align-center product-all-subhead">
    <div class="cell small-8 {% if section.settings.all-products-h1-align == 'right' %}text-right{% elsif section.settings.all-products-h1-align == 'center' %}text-center{% elsif section.settings.all-products-h1-align == 'left' %}text-left{% endif %}">
      {% if section.settings.all-products-h1 != blank %}
        <h1 class="h2">{{ section.settings.all-products-h1 | escape }}</h1>
      {% endif %}
    </div>
  </div>
      

    <div class="grid-container product-all-pad">
      <ul>
        <div class="grid-x align-center">
          <div class="small-12 medium-4 cell">
            <li>
                <div class="grid-x">
                  <div class="small-4 medium-4 cell text-center">{{ 'icon-no-sugar.svg' | asset_url | img_tag }}</div>
                  {% if section.settings.product-all-one != blank %}
                    <h4 class="small-8 medium-8 cell text-font">{{ section.settings.product-all-one }}</h4>
                  {% endif %}
                </div>
            </li>
            <li>
                <div class="grid-x">
                <div class="small-4 medium-4 cell text-center">{{ 'icon-high-protein.svg' | asset_url | img_tag }}</div>
                {% if section.settings.product-all-two != blank %}
                  <h4 class="small-8 medium-8 cell text-font">{{ section.settings.product-all-two }}</h4>
                {% endif %}
                </div>
            </li>
          </div>
          <div class="small-12 medium-4 cell">
          <li>
                <div class="grid-x">
                <div class="small-4 medium-4 cell text-center">{{ 'icon-gluten-free.svg' | asset_url | img_tag }}</div>
                {% if section.settings.product-all-three != blank %}
                  <h4 class="small-8 medium-8 cell text-font">{{ section.settings.product-all-three }}</h4>
                {% endif %}
                </div>
            </li>
            <li>
                <div class="grid-x">
                <div class="small-4 medium-4 cell text-center">{{ 'icon-natural-flavor.svg' | asset_url | img_tag }}</div>
                {% if section.settings.product-all-four != blank %}
                  <h4 class="small-8 medium-8 cell text-font">{{ section.settings.product-all-four }}</h4>
                {% endif %}
                </div>
            </li>
          </div>
          <div class="cell small-12 medium-4">
            <li>
                <div class="grid-x">
                <div class="small-4 medium-4 cell text-center">{{ 'icon-naturally-air-dried.svg' | asset_url | img_tag }}</div>
                {% if section.settings.product-all-five  != blank %}
                  <h4 class="small-8 medium-8 cell text-font">{{ section.settings.product-all-five }}</h4>
                {% endif %}
                </div>
            </li>
            <li>
                <div class="grid-x">
                <div class="small-4 medium-4 cell text-center">{{ 'icon-whole30.svg' | asset_url | img_tag }}</div>
                {% if section.settings.product-all-six  != blank %}
                  <h4 class="small-8 medium-8 cell text-font">{{ section.settings.product-all-six }}</h4>
                {% endif %}
                </div>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</section>


{% for block in section.blocks %}
{% case block.type %}


{% when 'left' %}
  {% include 'product-all-box-one' %}
{% when 'right' %}
  {% include 'product-all-box-two' %}
{% when 'cta' %}
  {% include 'cta-snippet' %}


{% endcase %}
{% endfor %}


{% schema %}
  {
    "name": "Collection Pages",
    "settings": [
       {
        "type": "text",
        "id": "all-products-h2",
        "label": "Product H1",
        "default": "H2"
      },
      {
        "type": "select",
        "id": "all-products-h2-align",
        "label": "H2 Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "text",
        "id": "all-products-h1",
        "label": "Product H2",
        "default": "Blurb"
      },
      {
        "type": "select",
        "id": "all-products-h1-align",
        "label": "H2 Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "text",
        "id": "product-all-one",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-all-p-one",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-all-two",
        "label": "Bullet 2",
        "default": "Bullet 2"
      },
      {
        "type": "text",
        "id": "product-all-p-two",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-all-three",
        "label": "Bullet 3",
        "default": "Bullet 3"
      },
      {
        "type": "text",
        "id": "product-all-p-three",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-all-four",
        "label": "Bullet 3",
        "default": "Bullet 3"
      },
      {
        "type": "text",
        "id": "product-all-p-four",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-all-five",
        "label": "Bullet 3",
        "default": "Bullet 3"
      },
      {
        "type": "text",
        "id": "product-all-p-five",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-all-six",
        "label": "Bullet 3",
        "default": "Bullet 3"
      },
      {
        "type": "text",
        "id": "product-all-p-six",
        "label": "Heading p",
        "default": "p"
      }
    ],
     "blocks": [
       {
        "type": "left",
        "name": "left",
        "settings": [
          {
            "type": "image_picker",
            "id": "product-one-pic",
            "label": "Product Pic"
          },
          {
            "type": "select",
            "id": "product-one-color",
            "label": "Image alignment",
            "options": [
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "green",
                "label": "Green"
              },
              {
                "value": "orange",
                "label": "Orange"
              },
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "brown",
                "label": "Brown"
              },
              {
                "value": "red",
                "label": "Red"
              }
            ]
          },
          {
            "type": "text",
            "id": "product-one-h1",
            "label": "product heading",
            "default": "product heading"
          },
          {
            "type": "text",
            "id": "product-one-define",
            "label": "product definition",
            "default": "product definition"
          },
          {
            "type": "text",
            "id": "product-one-pronounce",
            "label": "product category pronounce",
            "default": "product category pronounce"
          },
          {
            "type": "text",
            "id": "product-one-blurb",
            "label": "product category description",
            "default": "product category description"
          },
          {
            "id": "product-one-link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "product-one-label",
            "type": "text",
            "label": "Button text",
            "default": "Click here"
          },
          {
          "type": "select",
          "id": "product-one-align",
          "label": "Button Alignment",
          "default": "center",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            },
            {
              "label": "Center",
              "value": "center"
            }
          ]
        },
         {
          "type": "select",
          "id": "product-one-align-text",
          "label": "Text Alignment",
          "default": "center",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            },
            {
              "label": "Center",
              "value": "center"
            }
          ]
        },
        {
          "type": "radio",
          "id": "product-one-type",
          "label": "Button Type",
          "options": [
            {
              "label": "Primary",
              "value": "primary"
            },
            {
              "label": "Secondary",
              "value": "secondary"
            }
          ]
        }
        ]
      },
      {
        "type": "right",
        "name": "right",
        "settings": [
          {
            "type": "image_picker",
            "id": "product-two-pic",
            "label": "Product Pic"
          },
          {
            "type": "select",
            "id": "product-two-color",
            "label": "Image alignment",
            "options": [
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "green",
                "label": "Green"
              },
              {
                "value": "orange",
                "label": "Orange"
              },
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "brown",
                "label": "Brown"
              },
              {
                "value": "red",
                "label": "Red"
              }
            ]
          },
          {
            "type": "text",
            "id": "product-two-h1",
            "label": "product heading",
            "default": "product heading"
          },
          {
            "type": "text",
            "id": "product-two-define",
            "label": "product definition",
            "default": "product definition"
          },
          {
            "type": "text",
            "id": "product-two-pronounce",
            "label": "product category pronounce",
            "default": "product category pronounce"
          },
          {
            "type": "text",
            "id": "product-two-blurb",
            "label": "product category description",
            "default": "product category description"
          },
          {
            "id": "product-two-link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "product-two-label",
            "type": "text",
            "label": "Button text",
            "default": "Click here"
          },
          {
          "type": "select",
          "id": "product-two-align",
          "label": "Button Alignment",
          "default": "center",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            },
            {
              "label": "Center",
              "value": "center"
            }
          ]
        },
         {
          "type": "select",
          "id": "product-two-align-text",
          "label": "Text Alignment",
          "default": "center",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            },
            {
              "label": "Center",
              "value": "center"
            }
          ]
        },
        {
          "type": "radio",
          "id": "product-two-type",
          "label": "Button Type",
          "options": [
            {
              "label": "Primary",
              "value": "primary"
            },
            {
              "label": "Secondary",
              "value": "secondary"
            }
          ]
        }
        ]
      },
      {
        "type": "cta",
        "name": "cta",
        "settings": [
          {
            "type": "text",
            "id": "cta-h3",
            "label": "cta-h3",
            "default": "cta-h3"
          },
          {
            "type": "text",
            "id": "cta-p",
            "label": "cta-p",
            "default": "cta-p"
          },
          {
            "type": "select",
            "id": "cta-h3-align",
            "label": "blog-snippet-h2",
            "default": "center",
            "options": [
              {
                "label": "Left",
                "value": "left"
              },
              {
                "label": "Right",
                "value": "right"
              },
              {
                "label": "Center",
                "value": "center"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}