<header data-sticky-container data-section-type="header-section" role="banner">
  <div class="main-nav" role="navigation" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
    <!-- mobile nav bar -->
    <div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="large">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="topbar-center-logo">
          <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
        </button>
      </div>
      <div class="top-bar-center">
        <div class="title-bar-title">
          <div class="logo-font" itemscope itemtype="http://schema.org/Organization">
              {% if section.settings.logo %}
                <a href="/" itemprop="url">
                  {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                  <img src="{{ section.settings.logo | img_url: image_size }}"
                       srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                       alt="{{ section.settings.logo.alt | default: shop.name }}"
                       itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
          </div>
        </div>
      </div>
      <div class="title-bar-right">
          <div>
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <a href="/account" class="icon-padding">
                  <i class="fi-torso"></i>
                  <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
                </a>
              {% else %}
                <a href="/account/login" class="icon-padding">
                  <i class="fi-torso"></i>
                  <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
                </a>
              {% endif %}
            {% endif %}
            <a href="/cart" class="icon-padding">
              <i class="fi-shopping-cart"></i>
              <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
              <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
              {% if cart.item_count > 0 %}
                <div id="CartCount" class="site-header__cart-count">
                  <span>{{ cart.item_count }}</span>
                  <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                </div>
              {% endif %}
            </a>
              <button type="button" class="search searchbar icon-padding">
                <i class="fi-magnifying-glass"></i>
                <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
            </button>
          </div>
      </div>
    </div>
    <!-- /mobile nav bar -->

    <!-- medium and larger nav bar -->
    
      <div class="top-bar topbar-center-logo" id="topbar-center-logo">
        <div class="top-bar-left hide-for-small-only">
          <div class="logo-font" itemscope itemtype="http://schema.org/Organization">
              {% if section.settings.logo %}
                <a class="clearfix" href="/" itemprop="url" data-target="{{ child_list_handle }}">
                  {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                  <img src="{{ section.settings.logo | img_url: image_size }}"
                       srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                       alt="{{ section.settings.logo.alt | default: shop.name }}"
                       itemprop="logo">
                </a>
              {% else %}
                <a class="text-logo" href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
          </div>
        </div>
        <div class="nav-link-container">
          <nav role="navigation">
            <ul class="dropdown menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown" data-parent="{{ child_list_handle }}">

            {% for link in linklists[section.settings.main_linklist].links %}
              {%- assign child_list_handle = link.title | handleize -%}

              {% if linklists[child_list_handle].links != blank %}
              <li class="has-submenu">
                <a href="{{ link.url }}" aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">{{ link.title }}</a>
                    <ul class="submenu menu vertical nested" data-submenu>
                      {% for childlink in linklists[child_list_handle].links %}
                      <li {% if childlink.active %}class="site-nav--active"{% endif %}><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                      {% endfor %}
                    </ul>      
              </li>
              {% else %}
              <li {% if link.active %}class="site-nav--active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
          
        </div>
        <div class="top-bar-right hide-for-small-only">
           <div class="login-icons">
              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                  <a href="/account" class="icon-padding">
                    <i class="fi-torso"></i>
                    <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
                  </a>
                {% else %}
                  <a href="/account/login" class="icon-padding">
                    <i class="fi-torso"></i>
                    <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
                  </a>
                {% endif %}
              {% endif %}
              <a href="/cart" class="icon-padding">
                <i class="fi-shopping-cart"></i>
                <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
                <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
                {% if cart.item_count > 0 %}
                  <div id="CartCount" class="site-header__cart-count">
                    <span>{{ cart.item_count }}</span>
                    <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                  </div>
                {% endif %}
              </a>
              <button type="button" class="search searchbar icon-padding">
                  <i class="fi-magnifying-glass"></i>
                  <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
              </button>
            </div>
        </div>
    </div>
    <!-- /medium and larger nav bar -->
      <form class="search-drop" action="/search">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell auto">
              <input class="search-field" placeholder="Search" name="q" value="{{ search.terms | escape }}"  />
            </div>
            <div class="cell small-2 align-center">
              <input class="search-btn" type="submit" value="Search" />
            </div>
          </div>
        </div>
      </form>
    <img class="bottom-border nav-bottom" src="{{ 'border-thin-black.svg' | asset_url }}" itemprop="{{}}">
  </div>
</header>

<!--For Wian to edit within Shopify GUI -->
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar color",
        "default": "#7796A8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
