<section>
  <div class="hero-section"{% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}');"{% endif %}>
    <div class="grid-container">

      <div class="grid-x">
        <div class="cell small-12 {% if section.settings.second-text-h1-align == 'right' %}text-right{% elsif section.settings.second-text-h1-align == 'center' %}text-center{% elsif section.settings.second-text-h1-align == 'left' %}text-left{% endif %}">

          {% if section.settings.title != blank %}
            <h1>{{ section.settings.title | escape }}</h1>
          {% endif %}

        </div> 
      </div>

      <div class="grid-x">
        <div class="cell small-12 {% if section.settings.tagline-align == 'right' %}text-right{% elsif section.settings.tagline-align == 'center' %}text-center{% elsif section.settings.tagline-align == 'left' %}text-left{% endif %}">

          {% if section.settings.tagline != blank %}
            <h2>{{ section.settings.tagline | escape }}</h2>
          {% endif %}

        </div> 
      </div>

      <div class="grid-x">
        <div class="cell small-12 {% if section.settings.button-home-align == 'right' %}text-right{% elsif section.settings.button-home-align == 'center' %}text-center{% elsif section.settings.button-home-align == 'left' %}text-left{% endif %}">

            {% if section.settings.button_label != blank and section.settings.button_link != blank %}
              <a class="button primary" href="{{ section.settings.button_link }}">
                {{ section.settings.button_label | escape }}
              </a>
            {% endif %}

        </div>

      </div>
    </div>
  </div>
</section>
<div class="blurb-position">
 <div class="grid-x">
    <div class="cell small-12">
      <img class="top-border" src="{{ 'border-thin-red.svg' | asset_url }}" itemprop="{{}}">
    </div>
  </div>
  <section class="blurb-container">
    <div class="grid-x ">
      <div class="cell small-12">
        {% if section.settings.blurb != blank %}
          <p class="text-center">{{ section.settings.blurb | escape }}</p>
        {% endif %}
      </div>
    </div>
  </section>
  <div class="grid-x">
    <div class="cell small-12">
      <img class="bottom-border" src="{{ 'border-thin-red.svg' | asset_url }}" itemprop="{{}}">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image with text overlay",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading H1",
        "default": "Image with text overlay"
      },
      
      {
        "type": "select",
        "id": "second-text-h1-align",
        "label": "H2 Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },










       {
        "type": "text",
        "id": "tagline",
        "label": "Heading H2 Tagline",
        "default": "H2 Tagline"
      },


      {
        "type": "select",
        "id": "tagline-align",
        "label": "H2 Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },





       {
        "type": "text",
        "id": "blurb",
        "label": "Blurb",
        "default": "Blurb"
      },

      
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button-home-align",
        "label": "Button Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      }








    ],
    "presets": [
      {
        "name": "Image with text overlay",
        "category": "Image"
      }
    ]
  }
{% endschema %}
