<section itemprop="mainEntity" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
<div>
<meta itemprop="name" content="{{ product.title }}">
<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image.src | img_url: '2048x' }}">



    <div class="grid-x">
      <div class="small-12 cell product-img-container">
      {%- assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src -%}
      {%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}

      <div class="orbit" role="region" aria-label="Ayoba-Yo Product Pictures" data-orbit data-timer-delay="10000" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" data-pause-on-hover="false">
        <div class="orbit-wrapper">

        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>

          <ul class="orbit-container">
          {% for image in product.images %}
            <li class="is-active orbit-slide">
              <img class="product-img product-featured-img" src="{{ image.src | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_img_alt }}" id="FeaturedImage-{{ section.id }}">
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>


<div class="product-page-align">
  <div class="grid-container">
     <div class="grid-x">
      <div class="cell small-12 medium-8 mobile-align-center {% if block.settings.product-h1-align == 'right' %}text-right{% elsif section.settings.product-h1-align == 'center' %}text-center{% elsif section.settings.second-product-h1 == 'left' %}text-left{% endif %}">
        <h1 itemprop="name">{{ product.title }}</h1>

  
        {% for field in product.metafields.ProductPageHTwo %}
          <h2 itemprop="description" class="product-h2">{{ field | last }}</h2>
        {% endfor %}
   
        {% for field in product.metafields.ProductPageHTwoSEO %}
          <h2 itemprop="description" class="product-h2">{{ field | last }}</h2>
        {% endfor %}

      <div class="small-12 cell">
        <div class="grid-x mobile-product-align">
          <div class="cell medium-6 large-4">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          <div class="cell medium-3 large-2">
            <a href="#learnmore" data-smooth-scroll>Learn More</a>
          </div>
        </div>
      </div>
      <div class="small-12 cell btn-group-pad">
        <p>Product Type</p>
        {% include 'product-form' %}
      </div>
      </div>
      <div class="show-for-medium cell medium-4">
        <div class="grid-x">
          <div class="cell small-12">
            {% if product.url == '/products/traditional-biltong-south-african-jerky' %}
              <img src="{{ 'biltong-traditional-product.png' | asset_url }}" itemprop="image" alt="Ayoba-Yo Traditional Biltong, South African Jerky, 2oz snack bag"> 
            {% elsif product.url == '/products/spicy-biltong-south-african-jerky' %}
              <img src="{{ 'biltong-spicy.png' | asset_url }}" itemprop="image" alt="Ayoba-Yo Spicy Biltong, South African Jerky, 2oz snack bag">
            {% elsif product.url == '/products/droewors-air-dried-beef-stick' %}
              <img src="{{ 'droewors-product.png' | asset_url }}" itemprop="image" alt="Ayoba-Yo Droewors, South African Jerky, 2oz snack bag">
            {% elsif product.url == '/products/boerewors-south-african-sausage' %}
              <img src="{{ 'boerewors.png' | asset_url }}" itemprop="image" alt="Ayoba-Yo Boerewors, South African Sausage, 16oz bag">
            {% elsif product.url == '/products/combo-packs' %}
              <div class="orbit align-center text-center" role="region" aria-label="Ayoba-Yo Product Pictures" data-orbit data-timer-delay="4500" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                <div class="orbit-wrapper">
                  <ul class="orbit-container">
                    <li class="is-active orbit-slide">
                        <img src="{{ 'biltong-traditional-product.png' | asset_url }}" itemprop="image" alt="Ayoba-Yo Biltong and Droewors Combo Packs, 2oz snack bag"> 
                    </li>
                    <li class="orbit-slide">
                        <img src="{{ 'biltong-spicy.png' | asset_url }}" itemprop="image" alt="Ayoba-Yo Biltong and Droewors Combo Packs, 2oz snack bag">
                    </li>
                    <li class="orbit-slide">
                        <img src="{{ 'droewors-product.png' | asset_url }}" itemprop="image" alt="Ayoba-Yo Biltong and Droewors Combo Packs, 2oz snack bag">
                    </li>
                  </ul>
                </div>
              </div>
            {% elsif product.url == '/products/whole-biltong-slabs' %}
              <img src="{{ 'whole-biltong-product-display.png' | asset_url }}" itemprop="image" alt="Ayoba-Yo Whole Uncut Biltong Beef Slab">
            {% else %}
            {% endif %} 
          </div>
        </div>
      </div>
    </div> 
    <div class="grid-x show-for-medium">
      <div class="cell small-12">
        <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox float-right"></div>
      </div>
    </div>
  </div>
</div>

  

</div>
{% include 'blurb' %}
<div class="product-description" id="learnmore">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div itemprop="description" class="small-12 medium-6 cell">
        <h2>{{ product.title }}</h2>
        <h3>Product Description</h3><a href="#shopify-product-reviews" data-smooth-scroll>Check out our reviews</a>
        <p>{{ product.description }}</p>
      </div>
      {% if product.url == '/products/traditional-biltong-south-african-jerky' %}
        {% include 'nutrition-traditional-biltong' %}
      {% elsif product.url == '/products/spicy-biltong-south-african-jerky' %}
        {% include 'nutrition-spicy-biltong' %}
      {% elsif product.url == '/products/droewors-air-dried-beef-stick' %}
        {% include 'nutrition-droewors' %}
      {% elsif product.url == '/products/boerewors-south-african-sausage' %}
        {% include 'nutrition-boerewors' %}
      {% elsif product.url == '/products/whole-biltong-slabs' %}
        {% include 'nutrition-slab' %}
      {% elsif product.url == '/products/combo-packs' %}
        {% include 'nutrition-combo' %}
      {% else %}
      {% endif %}
    </div>
  </div>
</div>
</section>

{% include 'related-products' %}

<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": true
      },
      {
        "type": "select",
        "id": "product-h1-align",
        "label": "header alignment",
        "default": "center",
         "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      }

    ],
     "blocks": [
    {
      "type": "select",
      "name": "Add Product Type",
      "settings": [
        {
          "id": "product-btn-label",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
        "type": "select",
        "id": "product-btn-align",
        "label": "Button Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "radio",
        "id": "product-btn-type",
        "label": "Button Type",
        "options": [
          {
            "label": "Primary",
            "value": "primary"
          },
          {
            "label": "Secondary",
            "value": "secondary"
          }
        ]
      }
      ]
    },
    {
      "type": "select-again",
      "name": "Add Delivery",
      "settings": [
        {
          "id": "deliver-btn-label",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
        "type": "select",
        "id": "deliver-btn-align",
        "label": "Button Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "radio",
        "id": "deliver-btn-type",
        "label": "Button Type",
        "options": [
          {
            "label": "Primary",
            "value": "primary"
          },
          {
            "label": "Secondary",
            "value": "secondary"
          }
        ]
      }
      ]
    },
    {
      "type": "bullets",
      "name": "add bullet",
      "settings": [
        { 
          "type": "text",
          "id": "product-des-one",
          "label": "Bullet 1",
          "default": "Bullet 1"
        },
        {
        "type": "text",
        "id": "product-des-two",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-des-three",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-des-four",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-des-five",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-des-six",
        "label": "Bullet 1",
        "default": "Bullet 1"
      }
      ]
    }




  ]
  }
{% endschema %}