<section class="product-feature-container" itemscope itemtype="http://schema.org/Product" data-section-id="{{ section.id }}" data-section-type="product">

  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

<!-- Desktop featured Product -->
<div class="grid-container show-for-large">
  <div class="grid-x">
    <div class="medium-4 large-3 cell text-right product-feature-pad">
      <ul>
        <li>
            {{ 'icon-no-sugar.svg' | asset_url | img_tag }}
            {% if section.settings.product-feat-one != blank %}
              <h4>{{ section.settings.product-feat-one }}</h4>
            {% endif %}
            {% if section.settings.product-feat-p-one != blank %}
              <p>{{ section.settings.product-feat-p-one }}</p>
            {% endif %}
        </li>
        <li>
            {{ 'icon-high-protein.svg' | asset_url | img_tag }}
            {% if section.settings.product-feat-two != blank %}
              <h4>{{ section.settings.product-feat-two }}</h4>
            {% endif %}
            {% if section.settings.product-feat-p-two != blank %}
              <p>{{ section.settings.product-feat-p-two }}</p>
            {% endif %}
        </li>
        <li>
            {{ 'icon-gluten-free.svg' | asset_url | img_tag }}
            {% if section.settings.product-feat-three != blank %}
              <h4>{{ section.settings.product-feat-three }}</h4>
            {% endif %}
            {% if section.settings.product-feat-p-three != blank %}
              <p>{{ section.settings.product-feat-p-three }}</p>
            {% endif %}
        </li>

      </ul>
    </div>
    <div class="medium-4 large-6 cell">
      <div class="orbit" role="region" aria-label="Ayoba-Yo Product Pictures" data-orbit data-timer-delay="4500" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <div class="orbit-wrapper">
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
                <h3 class="text-center product-feature-h2">Traditional Biltong</h3> 
                <img class="" src="{{ 'biltong-traditional-dried-beef-slices-packaging.svg' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Traditional Biltong, South African Jerky, 2oz snack bag"> 
            </li>
            <li class="orbit-slide">
                <h3 class="text-center product-feature-h2">Spicy Biltong</h3> 
                <img class="" src="{{ 'biltong-spicy-dried-sliced-beef-packaging.svg' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Spicy Biltong, South African Jerky, 2oz snack bag">
            </li>
            <li class="orbit-slide">
                <h3 class="text-center product-feature-h2">Droewors</h3>
                <img class="" src="{{ 'droewors-dried-beef-stick-packaging.svg' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Droewors, South African Jerky, 2oz snack bag">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="medium-4 large-3 cell text-left product-feature-pad">
      <ul>
        <li>
            {{ 'icon-natural-flavor.svg' | asset_url | img_tag }}
            {% if section.settings.product-feat-four != blank %}
              <h4>{{ section.settings.product-feat-four }}</h4>
            {% endif %}
            {% if section.settings.product-feat-p-four  != blank %}
              <p>{{ section.settings.product-feat-p-four }}</p>
            {% endif %}
        </li>
        <li>
            {{ 'icon-naturally-air-dried.svg' | asset_url | img_tag }}
            {% if section.settings.product-feat-five  != blank %}
              <h4>{{ section.settings.product-feat-five }}</h4>
            {% endif %}
            {% if section.settings.product-feat-p-five  != blank %}
              <p>{{ section.settings.product-feat-p-five }}</p>
            {% endif %}
        </li>
        <li>
            {{ 'icon-whole30.svg' | asset_url | img_tag }}
            {% if section.settings.product-feat-six  != blank %}
              <h4>{{ section.settings.product-feat-six }}</h4>
            {% endif %}
            {% if section.settings.product-feat-p-six  != blank %}
              <p>{{ section.settings.product-feat-p-six }}</p>
            {% endif %}
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- Mobile featured Product -->
<div class="hide-for-large">
  <div class="grid-x align-right">

  <div class="medium-12 cell">
      <div class="orbit" role="region" aria-label="Ayoba-Yo Product Pictures" data-orbit data-timer-delay="4500" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" data-pause-on-hover="false">
        <div class="orbit-wrapper">
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
                <h3 class="text-center product-feature-h2">Traditional Biltong</h3> 
                
            </li>
            <li class="orbit-slide">
                <h3 class="text-center product-feature-h2">Spicy Biltong</h3> 
              
            </li>
            <li class="orbit-slide">
                <h3 class="text-center product-feature-h2">Droewors</h3>
              
            </li>
          </ul>
        </div>
      </div>
  </div>
    <div class="small-5 medium-5 cell product-feature-mobile">
      <div class="orbit" role="region" aria-label="Ayoba-Yo Product Pictures" data-orbit data-timer-delay="4500" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" data-pause-on-hover="false">
        <div class="orbit-wrapper">
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
                <img class="" src="{{ 'biltong-traditional-dried-beef-slices-packaging-4x.png' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Traditional Biltong, South African Jerky, 2oz snack bag"> 
            </li>
            <li class="orbit-slide">
                <img class="" src="{{ 'biltong-spicy-dried-sliced-beef-packaging-4x.png' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Spicy Biltong, South African Jerky, 2oz snack bag">
            </li>
            <li class="orbit-slide">
                <img class="" src="{{ 'droewors-dried-beef-stick-packaging-4x.png' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Droewors, South African Jerky, 2oz snack bag">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-7 medium-7 cell product-feature-pad-mobile">
      <ul>
        <li>
            <div class="grid-x">
              <div class="small-4 medium-4 cell text-center">{{ 'icon-no-sugar.svg' | asset_url | img_tag }}</div>
              {% if section.settings.product-feat-one != blank %}
                <h4 class="small-8 medium-8 cell">{{ section.settings.product-feat-one }}</h4>
              {% endif %}
            </div>
        </li>
        <li>
            <div class="grid-x">
            <div class="small-4 medium-4 cell text-center">{{ 'icon-high-protein.svg' | asset_url | img_tag }}</div>
            {% if section.settings.product-feat-two != blank %}
              <h4 class="small-8 medium-8 cell">{{ section.settings.product-feat-two }}</h4>
            {% endif %}
            </div>
        </li>
        <li>
            <div class="grid-x">
            <div class="small-4 medium-4 cell text-center">{{ 'icon-gluten-free.png' | asset_url | img_tag }}</div>
            {% if section.settings.product-feat-three != blank %}
              <h4 class="small-8 medium-8 cell">{{ section.settings.product-feat-three }}</h4>
            {% endif %}
            </div>
        </li>
        <li>
            <div class="grid-x">
            <div class="small-4 medium-4 cell text-center">{{ 'icon-natural-flavor.png' | asset_url | img_tag }}</div>
            {% if section.settings.product-feat-four != blank %}
              <h4 class="small-8 medium-8 cell">{{ section.settings.product-feat-four }}</h4>
            {% endif %}
            </div>
        </li>
        <li>
            <div class="grid-x">
            <div class="small-4 medium-4 cell text-center">{{ 'icon-naturally-air-dried.png' | asset_url | img_tag }}</div>
            {% if section.settings.product-feat-five  != blank %}
              <h4 class="small-8 medium-8 cell">{{ section.settings.product-feat-five }}</h4>
            {% endif %}
            </div>
        </li>
        <li>
            <div class="grid-x">
            <div class="small-4 medium-4 cell text-center">{{ 'icon-whole30.svg' | asset_url | img_tag }}</div>
            {% if section.settings.product-feat-six  != blank %}
              <h4 class="small-8 medium-8 cell">{{ section.settings.product-feat-six }}</h4>
            {% endif %}
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>








<div class="button-group align-center product-feat-btn">
{% for block in section.blocks %} 
    <a class="button btn-pad {% if block.settings.product-feat-btn-type == 'primary' %}primary{% elsif block.settings.product-feat-btn-type == 'secondary' %}secondary{% endif %}" href="{{ block.settings.product-feat-btn-link }}">{{ block.settings.product-feat-btn-label }}</a>
{% endfor %}
</div>

</section>




{% schema %}
  {
    "name": "Product Display",
    "settings": [
       {
        "type": "text",
        "id": "product-feat-h3",
        "label": "Heading H3",
        "default": "H3"
      },
      {
        "type": "select",
        "id": "product-feat-h3-align",
        "label": "H3 Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "text",
        "id": "product-feat-one",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-feat-p-one",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-feat-two",
        "label": "Bullet 2",
        "default": "Bullet 2"
      },
      {
        "type": "text",
        "id": "product-feat-p-two",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-feat-three",
        "label": "Bullet 3",
        "default": "Bullet 3"
      },
      {
        "type": "text",
        "id": "product-feat-p-three",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-feat-four",
        "label": "Bullet 3",
        "default": "Bullet 3"
      },
      {
        "type": "text",
        "id": "product-feat-p-four",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-feat-five",
        "label": "Bullet 3",
        "default": "Bullet 3"
      },
      {
        "type": "text",
        "id": "product-feat-p-five",
        "label": "Heading p",
        "default": "p"
      },
      {
        "type": "text",
        "id": "product-feat-six",
        "label": "Bullet 3",
        "default": "Bullet 3"
      },
      {
        "type": "text",
        "id": "product-feat-p-six",
        "label": "Heading p",
        "default": "p"
      }



    ],
      "blocks": [
    {
      "type": "select",
      "name": "Add Button",
      "settings": [
        {
          "id": "product-feat-btn",
          "type": "url",
          "label": "Button link"
        },
        {
          "id": "product-feat-btn-label",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
        "type": "select",
        "id": "product-feat-btn-align",
        "label": "Button Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "radio",
        "id": "product-feat-btn-type",
        "label": "Button Type",
        "options": [
          {
            "label": "Primary",
            "value": "primary"
          },
          {
            "label": "Secondary",
            "value": "secondary"
          }
        ]
      }
      ]
    }
  ],
    "presets": [
      {
        "name": "Product Display",
        "category": "Ayoba-Yo Sections"
      }
    ]
  }
{% endschema %}

