<section itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
<meta itemprop="name" content="{{ product.title }}">
<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image.src | img_url: '2048x' }}">


  <div class="grid-x">
      <div class="small-12 cell product-img-container">

      {%- assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src -%}
      {%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}


        <img class="product-img" src="{{ featured_img_src | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_img_alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img">

       <!-- <div class="hero-section"{% if section.settings.image %} style="background-image: url('{{ featured_img_src | img_url: product_image_size, scale: product_image_scale }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>-->
   
    </div>
  </div>


<div class="product-page-align">
  <div class="grid-container">
     <div class="grid-x">
      <div class="cell small-12 medium-8 mobile-align-center {% if block.settings.product-h1-align == 'right' %}text-right{% elsif section.settings.product-h1-align == 'center' %}text-center{% elsif section.settings.second-product-h1 == 'left' %}text-left{% endif %}">
        <h1 itemprop="name">{{ product.title }}</h1>

  
            {% for field in product.metafields.ProductPageHTwo %}
              <h2 class="product-h2">{{ field | last }}</h2>
            {% endfor %}
   
        {% for field in product.metafields.ProductPageHTwoSEO %}
          <h2 class="product-h2">{{ field | last }}</h2>
        {% endfor %}

      <div class="small-12 cell">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      <div class="small-12 cell btn-group-pad">
        <p>Product Type</p>
        <div class="button-group mobile-align-center">
          {% for block in section.blocks %} 
          {% if block.type == 'select' %}
              <button class="button btn-pad {% if block.settings.product-btn-type == 'primary' %}primary{% elsif block.settings.product-btn-type == 'secondary' %}secondary{% endif %}">{{ block.settings.product-btn-label }}</button>
          {% endif %}
          {% endfor %}
        </div>
      </div>
        <div class="small-12 cell btn-group-pad">
          <div class="grid-x grid-margin-x mobile-align-center">
            <div class="medium-12 large-6 cell btn-group-pad">
              <p>Delivery Type</p>
              <div class="button-group expanded mobile-align-center">
                {% for block in section.blocks %} 
                {% if block.type == 'select-again' %}
                    <button class="button btn-pad {% if block.settings.deliver-btn-type == 'primary' %}primary{% elsif block.settings.deliver-btn-type == 'secondary' %}secondary{% endif %}">{{ block.settings.deliver-btn-label }}</button>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="medium-12 large-6 cell">
             {% if section.settings.show_quantity_selector %}
             <p>Quantity</p>
              <div class="quantity-input mobile-align-center">
                <input type="number" id="Quantity" name="quantity" value="1" min="1" pattern="[0-9]*">
              </div>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="small-12 cell">
          
        <p>
          {% comment %}
            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
            if your variants have different prices.
          {% endcomment %}
          {% if on_sale %}
            {% if product.price_varies %}
              {% assign sale_price = product.price | money %}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              <strong>{{ 'products.product.on_sale' | t }}</strong>
              {{ product.price | money }}
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {% assign price = product.price | money %}
              {{ 'products.general.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          {% endif %}
          {% if sold_out %}
            <br><strong>{{ 'products.product.sold_out' | t }}</strong>
          {% endif %}
          {% if on_sale %}
            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            <br><s>{{ product.compare_at_price | money }}</s>
          {% endif %}
        </p>

        </div>
        <div class="small-12 cell">
          <button class="button" type="submit" name="add" id="AddToCart-{{ section.id }}">
            <span id="AddToCartText-{{ section.id }}">
              {% unless current_variant.available %}
                {{ 'products.product.sold_out' | t }}
              {% else %}
                {{ 'products.product.add_to_cart' | t }}
              {% endunless %}
            </span>
          </button>
        </div>
      </div>

      <div class="show-for-medium cell medium-4">
        <div class="grid-x">
          <div class="cell small-12">
            {% if product.url == '/products/traditional-biltong-south-african-jerky' %}
              <img class="" src="{{ 'biltong-traditional-dried-beef-slices-packaging.svg' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Traditional Biltong, South African Jerky, 2oz snack bag"> 
            {% elsif product.url == '/products/spicy-biltong-south-african-jerky' %}
              <img class="" src="{{ 'biltong-spicy-dried-sliced-beef-packaging.svg' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Spicy Biltong, South African Jerky, 2oz snack bag">
            {% elsif product.url == '/products/droewors-air-dried-beef-stick' %}
              <img class="" src="{{ 'droewors-dried-beef-stick-packaging.svg' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Droewors, South African Jerky, 2oz snack bag">
            {% elsif product.url == '/products/boerewors-south-african-sausage' %}
              <img class="" src="{{ 'boerewors-south-african-sausage-packaging.svg' | asset_url }}" itemprop="{{}}" alt="Ayoba-Yo Boerewors, South African Sausage, 16oz bag">
            {% else %}
            {% endif %}



            
          </div>
        </div>
      </div>
    </div> 
    <div class="grid-x show-for-medium">
      <div class="cell small-12">
        <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox float-right"></div>
      </div>
    </div>
  </div>
</div>

  

</section>
{% include 'blurb' %}
<section class="product-description">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="small-12 medium-6 cell">
        <h2>Product Description</h2>
        <p>{{ product.description }}</p>
      </div>
      {% if product.url == '/products/traditional-biltong-south-african-jerky' %}
        {% include 'nutrition-traditional-biltong' %}
      {% elsif product.url == '/products/spicy-biltong-south-african-jerky' %}
        {% include 'nutrition-spicy-biltong' %}
      {% elsif product.url == '/products/droewors-air-dried-beef-stick' %}
        {% include 'nutrition-droewors' %}
      {% elsif product.url == '/products/boerewors-south-african-sausage' %}
        {% include 'nutrition-boerewors' %}
      {% else %}
      {% endif %}
    </div>
  </div>
</section>

{% include 'related-products' %}

<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>




{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": true
      },
      {
        "type": "select",
        "id": "product-h1-align",
        "label": "header alignment",
        "default": "center",
         "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      }

    ],
     "blocks": [
    {
      "type": "select",
      "name": "Add Product Type",
      "settings": [
        {
          "id": "product-btn-label",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
        "type": "select",
        "id": "product-btn-align",
        "label": "Button Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "radio",
        "id": "product-btn-type",
        "label": "Button Type",
        "options": [
          {
            "label": "Primary",
            "value": "primary"
          },
          {
            "label": "Secondary",
            "value": "secondary"
          }
        ]
      }
      ]
    },
    {
      "type": "select-again",
      "name": "Add Delivery",
      "settings": [
        {
          "id": "deliver-btn-label",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
        "type": "select",
        "id": "deliver-btn-align",
        "label": "Button Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "radio",
        "id": "deliver-btn-type",
        "label": "Button Type",
        "options": [
          {
            "label": "Primary",
            "value": "primary"
          },
          {
            "label": "Secondary",
            "value": "secondary"
          }
        ]
      }
      ]
    },
    {
      "type": "bullets",
      "name": "add bullet",
      "settings": [
        { 
          "type": "text",
          "id": "product-des-one",
          "label": "Bullet 1",
          "default": "Bullet 1"
        },
        {
        "type": "text",
        "id": "product-des-two",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-des-three",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-des-four",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-des-five",
        "label": "Bullet 1",
        "default": "Bullet 1"
      },
      {
        "type": "text",
        "id": "product-des-six",
        "label": "Bullet 1",
        "default": "Bullet 1"
      }
      ]
    }




  ]
  }
{% endschema %}