<section class="quote" data-section-id="{{ section.id }}" data-section-type="quotes">
  <div class="grid-x">
      <div class="cell small-12">
        <img class="top-border" src="{{ 'border-thin-blue.svg' | asset_url }}">
      </div>
  </div>
  <div class="quote-container">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell small-12">
          {% if section.settings.title != blank %}
            <div class=" text-center">
              <h2>{{ section.settings.title | escape }}</h2>
            </div>
          {% endif %}
        </div>
        {% if section.blocks.size > 0 %}
        <div class="cell small-12">
          <div class="orbit" role="region" aria-label="Testimonials" data-orbit>
            <div class="orbit-wrapper">
              <ul class="orbit-container">
              {% for block in section.blocks %}
                <li class="is-active orbit-slide" data-count="{{ section.blocks.size }}">
                  <blockquote {{ block.shopify_attributes }}>
                    {% if block.settings.quote != blank %}
                      <div>{{ block.settings.quote }}</div>
                    {% endif %}
                    {% if block.settings.author != blank %}
                      <cite>{{ block.settings.author | escape }}</cite>
                    {% endif %}
                  </blockquote>
                </li>
              {% endfor %}
              </ul>
            </div>
            {% if section.blocks.size == 0 %}
              {% include 'no-blocks' %}
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="grid-x">
      <div class="cell small-12">
        <img class="bottom-border" src="{{ 'border-thin-blue.svg' | asset_url }}">
      </div>
  </div>
</section>

{% schema %}
  {
    "name": "Testimonials",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
