{% paginate search.results by 10 %}
<section class="search-pad" itemprop="mainEntity" itemscope itemtype="http://schema.org/SearchResultsPage">
  <div class="grid-container">
    <div class="grid-x grid-margin-x text-center align-center">
      <div class="cell small-12" itemprop="name">
        {% if search.results_count == 0 or search.performed == false %}
            <h1>{{ 'general.search.title' | t }}</h1>
        {% else %}
            <h1>{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</h1>
        {% endif %}
      </div>
    </div>
    <div class="grid-x align-center">
      <div class="cell small-12">
        <form action="/search" method="get" role="search" class="align-center">
          <div class="grid-x grid-margin-x align-center">
          <div class="cell small-4 float-right">
            <input type="search"
              id="SearchInput"
              class="input-group__field search__input"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.placeholder' | t }}"
              aria-label="{{ 'general.search.placeholder' | t }}"
              autofocus>
          </div>
          <div class="cell small-1 float-left">
            <button class="button primary" type="submit">{{ 'general.search.submit' | t }}</button>
          </div>
        </div>
        </form>
        {% if search.performed and search.results_count == 0 %}
          <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
        {% endif %}
      </div>
    </div>

     <div class="grid-container">
        <div class="grid-x align-center">
          <div class="cell small-12" itemprop="description">
            {% for item in search.results %}
              <a href="{{ item.url }}" class="search-item">
                {% if item.object_type == 'product' %}
                  {% include 'product-card-list', product: item %}
                {% else %}
                <div class="grid-container mobile-search-align">
                  <div class="grid-x">
                    <div class="cell small-12 medium-4">
                      {% if item.image %}
                      <img  src="{{ item.image.src | img_url: '310x310' }}" alt="{{ item.image.alt | escape }}">
                      {% endif %}
                    </div>
                    <div class="cell small-12 medium-8">
                      <div>{{ item.title }}</div>
                      <div>{{ product.vendor }}</div>
                        {% if item.published_at %}{{ item.published_at | date: "%b %d, %Y" }}{% endif %}
             
                    </div>
                  </div>
                </div>
                {% endif %}
              </a>
            {% endfor %}
          </div>

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
   
      </div>
     </div>
    </div>
  </div>
</section>
{% endpaginate %}
